<VirtualHost *:80>

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

</VirtualHost>

<IfModule mod_ssl.c>

<VirtualHost *:443>

  ServerName {{ semui_apache2_servername }}
  ServerAdmin {{ semui_apache2_serveradmin }}
  
  ProxyPreserveHost On

  ServerSignature Off
  SSLEngine On
  SSLCertificateFile    {{ semui_apache2_cert_file }}
  SSLCertificateKeyFile {{ semui_apache2_cert_keyfile }}

  # -- Ansible Semaphore UI --
  ProxyPass / http://localhost:3000/
  ProxyPassReverse / http://localhost:3000/

  <Location /api/ws>
     RewriteEngine On
     RewriteCond %{QUERY_STRING} transport=websocket [NC]
     RewriteCond %{HTTP:Upgrade} websocket [NC]
     RewriteCond %{HTTP:Connection} upgrade [NC]
     RewriteRule /(.*) ws://localhost:3000/api/ws/$1 [P,L]
     ProxyPass ws://localhost:3000/api/ws retry=0 timeout=30
     ProxyPassReverse ws://localhost:3000/api/ws
  </Location> 

  ErrorLog ${APACHE_LOG_DIR}/{{ item.name }}-error.log
  CustomLog ${APACHE_LOG_DIR}/{{ item.name }}-access.log combined

</VirtualHost>

</IfModule>
