<VirtualHost *:80>

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

</VirtualHost>

<IfModule mod_ssl.c>

<VirtualHost *:443>

  ServerName test01.bitfinity.nl
  ServerAdmin noreply.logs@bitfinity.nl

  DocumentRoot /var/www/html

  ProxyPreserveHost On

  ServerSignature Off
  SSLEngine On
  SSLCertificateFile    /etc/letsencrypt/live/test01.bitfinity.nl/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/test01.bitfinity.nl/privkey.pem

  ReWriteEngine on

  # -- Download folder --
  ProxyPassMatch ^/downloads !

  Alias "/downloads" "/var/www/html/downloads"

  <Directory "/var/www/html/downloads">
    Options Indexes FollowSymlinks Multiviews
    AllowOverride None
    Order allow,deny
    Allow from all
  </Directory>

  # -- Ansible Semaphore UI --
  ProxyPass / http://localhost:3000/
  ProxyPassReverse / http://localhost:3000/

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

</IfModule>
