{
        "mysql": {
                "host": "",
                "user": "",
                "pass": "",
                "name": "",
                "options": null
        },
        "bolt": {
                "host": "/opt/ansible-semaphore/database.boltdb",
                "user": "",
                "pass": "",
                "name": "",
                "options": null
        },
        "postgres": {
                "host": "",
                "user": "",
                "pass": "",
                "name": "",
                "options": null
        },
        "dialect": "bolt",
        "port": "",
        "interface": "",
        "tmp_path": "/tmp/semaphore",
        "ssh_config_path": "",
        "git_client": "",
        "web_host": "",
        "cookie_hash": "Qq7c4Gaqqjjv+KQzxGCTVGVFj0QCpQmZCCJuoZnld68=",
        "cookie_encryption": "HGcfahvWGNp+FJHdPeAPhnsWyUpUnaWPYu225EK9b4I=",
        "access_key_encryption": "O1mZUkTymdjiStEQfiRUSNnyRiUpafCT5PWu7iBTZjE=",
        "email_alert": false,
        "email_sender": "",
        "email_host": "",
        "email_port": "",
        "email_username": "",
        "email_password": "",
        "email_secure": false,
        "ldap_enable": false,
        "ldap_binddn": "",
        "ldap_bindpassword": "",
        "ldap_server": "",
        "ldap_searchdn": "",
        "ldap_searchfilter": "",
        "ldap_mappings": {
                "dn": "",
                "mail": "",
                "uid": "",
                "cn": ""
        },
        "ldap_needtls": false,
        "telegram_alert": false,
        "telegram_chat": "",
        "telegram_token": "",
        "slack_alert": false,
        "slack_url": "",
        "oidc_providers": null,
        "max_parallel_tasks": 0,
        "runner_registration_token": "",
        "password_login_disable": false,
        "non_admin_can_create_project": false,
        "use_remote_runner": false,
        "runner": {
                "api_url": "",
                "registration_token": "",
                "config_file": "",
                "one_off": false,
                "webhook": "",
                "max_parallel_tasks": 0
        },
        "billing_enabled": false
 }        
