---
volumes:
  semaphore-mysql:
    driver: local
services:
  mysql:
    restart: unless-stopped
    image: mysql:8.0
    hostname: mysql
    volumes:
      - semaphore-mysql:/var/lib/mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: semaphore
      MYSQL_USER: semaphore
      MYSQL_PASSWORD: '{{ DOCK_MYSQL_PASS }}'
  semaphore:
    restart: unless-stopped
    ports:
      - 3000:3000
    image: semaphoreui/semaphore:latest
    environment:
      SEMAPHORE_WEB_HOST: 'http://localhost/semui'
      SEMAPHORE_DB_USER: 'semaphore'
      SEMAPHORE_DB_PASS: '{{ DOCK_MYSQL_PASS }}'
      SEMAPHORE_DB_HOST: 'mysql' # for postgres, change to: postgres
      SEMAPHORE_DB_PORT: '3306' # change to 5432 for postgres
      SEMAPHORE_DB_DIALECT: 'mysql' # for postgres, change to: postgres
      SEMAPHORE_DB: 'semaphore' 
      SEMAPHORE_PLAYBOOK_PATH: '/tmp/semaphore/'
      SEMAPHORE_ADMIN_PASSWORD: '{{ DOCK_SEMA_ADMIN_PASS }}'
      SEMAPHORE_ADMIN_NAME: '{{ DOCK_SEMA_ADMIN_USER }}'
      SEMAPHORE_ADMIN_EMAIL: '{{ DOCK_SEMA_ADMIN_EMAIL }}'
      SEMAPHORE_ADMIN: '{{ DOCK_SEMA_ADMIN_USER }}'
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: '{{ semaphore_encryption_key }}'
      SEMAPHORE_LDAP_ACTIVATED: '{{ DOCK_SEMA_LDAP_ACTIVATED }}' # if you wish to use ldap, set to: 'yes' 
      SEMAPHORE_LDAP_HOST: '{{ DOCK_SEMA_LDAP_HOST }}'
      SEMAPHORE_LDAP_PORT: '{{ DOCK_SEMA_LDAP_PORT }}'
      SEMAPHORE_LDAP_NEEDTLS: '{{ DOCK_SEMA_NEED_TLS }}'
      SEMAPHORE_LDAP_DN_BIND: '{{ DOCK_SEMA_LDAP_DN_BIND }}'
      SEMAPHORE_LDAP_PASSWORD: '{{ DOCK_SEMA_LDAP_PASSWORD }}'
      SEMAPHORE_LDAP_DN_SEARCH: '{{ DOCK_SEMA_LDAP_DN_SEARCH }}'
      SEMAPHORE_LDAP_SEARCH_FILTER: "{{ DOCK_SEMA_LDAP_SEARCH_FILTER }}"
    volumes:
      - ./inventory/:/inventory:ro
      - ./authorized-keys/:/authorized-keys:ro
      - ./config/:/etc/semaphore:rw
    depends_on:
      - mysql
